*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fluid-container{
    margin: auto;
    max-width: 1380px;
    border: 1px solid black;
}
.herosection{
    max-width: 1380px;
    background-image: url(hero.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    max-height: 330px;
}
#picture1{
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.upperclass{
   
    display: flex;
    justify-content: space-around;
    padding: 6px 12px;
    color: white;
}

.lis{
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    align-items: center;
}


.li8{
    width: 97px;
    height: 29px;
    border-radius: 50px;
    
    border: 1px solid #F8F9FA;
    color: #F8F9FA;
    background: transparent;
    text-align: center;
    padding: 2.3px 20px;
    align-items: center;

}


.heading1{
    font-family: Poppins;
    font-weight: 500;
    font-size: 75px;
    line-height: 48px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    color: #FFFFFF;
    
}

.lowerclass{
     display: flex; 
     align-items: center;
     margin-top: 170px;
     margin-left: 42px;
     
}

.dropdown{
    color: rgba(255, 255, 255, 1);

}

.li9{

text-align: center;
font-family: Poppins;
/* font-size: 16px; */
font-style: normal;
font-weight: 400;
line-height: 24px; 
justify-content: center;
margin-left: 30px;
max-width: 116px;
max-height: 36px;
border-radius: 50px;
 border: 1px solid rgba(248, 249, 250, 1);
padding: 6px 12px;
color: rgba(248, 249, 250, 1);
background: transparent;



}

.hamburger{
    display: none;
}



@media (max-width:950px) {
    .lis{
        display: none;

    }
    .hamburger{
       display: block; 
       font-size: 6vw;

    }
}

@media (max-width:550px) {
    .lowerclass{
        flex-direction: column;
        /* justify-content: center; */
    }
    .li9{
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:400px) {
    .lowerclass .heading1{
        font-size: 6vw;
        margin: auto;
    }

    .lowerclass .li9{
        margin: auto;
        width: 120px;
        height: 80px;
        font-size: 2.7vw;
        /* border: none; */

        
    }
}



                                  /* second section  */

.second{
    gap: 15px;
    padding: 30px 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}                                

.leftside{
max-width: 565px;
max-height: 360px;
flex: 1;
box-sizing: border-box;

}


.leftside .heading2{
font-family: Poppins;
align-items: center;
font-style: normal;
font-weight: 300;
line-height: 57.2px;
color: rgba(152, 0, 46, 1);
font-size: 43px;
text-align: center;
margin-top: 93px;
margin-left: 10px;
}


.leftside .text{
font-family: Poppins;
margin-top: 10px;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 33.6px;
color: rgba(69, 69, 69, 1);
color: var(--text-01-body, #454545);
text-align: center;
margin-left: 10px;

}



.rightside{
    max-width: 565px;
    max-height: 360px;
    flex: 1;
    box-sizing: border-box;
}

.complexpicture{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width:950px) {
    .second{
       flex-direction: column;

    }
    .leftside{
       
        justify-content: center;
        align-items: center;
        margin: auto;
    }
   
    .rightside{
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}


@media (max-width:550px) {
    .leftside{
        margin: auto;
    }
    .right{
        max-width: 100%;
        height: auto;
    }
}

  


                                 /* third  */


.third{
    display: flex;
     /* gap: 20px; */
     gap: 15px;
     justify-content: space-around;
     margin-top: 50px;
   
}

   .anothercomplexpicture{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
   
     }

.leftside3{
    max-width: 565px;
    max-height: 360px;
    flex: 1;
    box-sizing: border-box;
}

.rightside3{
   /* text-align: center;
   justify-content: center; */
   max-width: 565px;
   max-height: 360px;
   flex: 1;
   box-sizing: border-box;
 

 
   
   
}


.rightside3 .heading4{

color: var(--theme-logo-red, #98002E);
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 28.8px;
text-align: center;
align-items: center;
/* display: flex; */
justify-content: center;
margin-top: 80px;

}


.rightside3 .anothertext{
margin-top: 20px;
color: rgba(69, 69, 69, 1);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px;

}



@media (max-width:950px) {
    .third{
        flex-direction: column;
    }

    .anothercomplexpicture{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .leftside3{
        margin: auto;
        width: 100%;
    }
    .rightside3{
        width: 100%;
        margin: auto;
    }


}


@media (max-width:560px) {
    .anothertext{
       text-align: center;
    }
}


                                         /* fourth section  */

.fourth{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    
}

.anotherchallenge{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}


.leftside4{
   max-width: 565px;
   max-height: 360px;
   /* margin-left: 60px; */
  
   
   
}

.dangerousheading{
    color: var(--theme-logo-red, #98002E);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    margin-top: 105px;
}


.dangeroustext{
color: var(--text-01-body, #454545);
margin-top: 15px;


font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px;
}



@media (max-width:950px) {
    .fourth{
        flex-direction: column;
    }
    .leftside4{
        width: 100%;
        margin: auto;
    }
    .leftside4{
        width: 100%;
        margin: auto;

    }

    .anotherchallenge{
        width: 100%;
        margin: auto;
    }

}


@media (max-width:560px) {
      .leftside4{
        max-width: 100%;
      }
}




                                      /* fifth section */
        
.fifth{
    display: flex;
    /* gap: 30px; */
    justify-content: space-around;
    margin-top: 90px;

    
}

.roads{
    /* margin-left: 60px; */
}
.againheading4{
color: var(--theme-logo-red, #98002E);
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 28.8px;
/* text-align: center; */
margin-top: 105px;
}

.nextleveltext{
margin-top: 15px;
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px;
margin-left: 5px;
}


                /* sixth phase */



.styles{
color: var(--theme-logo-red, #98002E);
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 38.4px;
text-align: center;
margin-top: 100px;
}


.lasttext{
color: var(--text-01-body, #454545);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px;
margin-top: 20px;
}

.loans{
color: var(--text-01-body, #454545);
margin-top: 40px;
text-align: center;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 27px;
}




                                   /* seventh phase */




.seventh{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
    
}

.seventhleft{
   max-width: 533px;
   max-height: 505px;
   

}

.seventhright{
   max-width: 533px;
   max-height: 505px;
   
   
}

span{
color: var(--theme-logo-red, #98002E);
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 28.8px;
margin-top: 23px;


}

.newerror{
    display: flex;
}




.seventhheading{
    display: flex;
    padding: 30px 15px;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    margin-left: 95px;
    gap: 15px;
    align-self: stretch;
    color: rgba(152, 0, 46, 1);

}
.newone{
    margin-left: 140px;
}


.me{
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
margin-top: 20px;

}




.eight{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  
    
}

.frame{
    width: 88%;
}





                                    /*nine phase starts   */

.nine{
    margin-top: 49px;
     width: 100%;
    height: 350px;
    padding: 0px 60px 0px 60px;
    gap: 30px;
    display: flex;
    justify-content: center;

    

}

.blocks{
  
    width: 220px;
    height: 350px;
}


.different{
color: var(--theme-logo-red, #98002E);

font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 67.2px; 
}

.margin{
    margin-top: 13px;

}
.basiclis{
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}


















                                             /* phase 10 */


.seven {
    margin-top: 80px;
    width: 100%;
    height: 266px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;


}

.gas {

    max-width: 50%;

 }

 .khay {

     max-width: 50%;
     margin-left: 10vw;

 }


 .date {

color: var(--global-02-secondary, #6C757D);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 42px;

}

.quote {
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: rgba(69, 69, 69, 1);
}


.text {
display: flex;
width: 400px;
height: 100px;
padding: 15px;
align-items: flex-start;
border-radius: 8px;
background: #FFF;
border: none;
}

::placeholder{
    font-family: Poppins;
    font-weight: 400;
    font-size: 19;
}

.btn button {
    width: 160px;
    height: 36px;
    border-radius: 50px;
    padding: 6px, 12px, 6px, 12px;
    margin-top: 10px;
    margin-left: 240px;
    border: 1px solid #343A40;
}

.relation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.alwaysright{
    margin-left: 4vw;
}

.text{
    resize: none;
}

.jessa{
color: var(--theme-logo-red, #98002E);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 260px;
}




                                  /* phase 11 */


.eleven{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items:  center;
}




                                 /* twelth */

.twelth{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

                                  /* phase thirteen */

 .thisra{
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
}

.abu h3{
color: var(--text-01-body, #454545);
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
color: rgba(69, 69, 69, 1);
}

.abu p{
color: var(--theme-logo-red, #98002E);
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
} 


.aizaz h3{
color: var(--text-01-body, #454545);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-decoration-line: underline;
}

.linkslogo{
    display: flex;
    margin-top: 20px;
    gap: 36px;
}

                        






                               /* phase fourteen */


.chotha{
    margin-top: 30px;
    
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.ugly{
    display: flex;
    gap: 25px;
    margin-left: 8vw;
}

.ugly h3{
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: 19.2px;
color: (69, 69, 69, 1);
} 


.beauty p{
color: var(--text-01-body, #454545);
font-family: Poppins;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: 19.2px;
color: (69, 69, 69, 1);
}